.alert-sleeping {
    display: none;
}

.alert {
    position: relative;
    margin: 0 0 1em 0;
    padding: 1em;
    font-size: 1em;
    line-height: 2em;
    border-width: 3px;
    border-style: solid;
    border-radius: 0;
}

// TODO encapsulate dismiss and state icons with before/after or a template
.alert .icon {
    position: absolute;
    font-size: 2em;
    line-height: 2em;
    top: 0;
    bottom: 0;
}
.alert-state-icon {
    left: 5%;
}
.alert-dismiss {
    right: 5%;
    cursor: pointer;
}
.alert-message {
    display: inline-block;
    width: 80%;
}

// Info
.alert-info {
    border-color: $color-accent-info;
    background-color: $color-body-info;
}
.alert-info .icon {
    color: $color-accent-info;
}

// Success
.alert-success {
    border-color: $color-accent-success;
    background-color: $color-body-success;
}
.alert-success .icon {
    color: $color-accent-success;
}

// Error
.alert-error {
    border-color: $color-accent-error;
    background-color: $color-body-error;
}
.alert-error .icon {
    color: $color-accent-error;
}


/*
TODO
@each $state in $stateColors {
    .alert-#{state} {
        border-color: ;
        background-color: ;
    }
    .alert-#{state} .icon {
        
    }
}
*/
