.btn {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin: 0.4em auto 0 auto;
    padding: 1em 0;
    font-size: 2em;
    background-color: $color-inactive;
    color: $color-bright;
    border: none;
    outline-color: $color-active;
    display: block;
    cursor: pointer;
    width: 80%;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.btn:hover {
    background-color: $color-active;
    color: $color-dark;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
    width: 95%;
}

.btn .icon {
    vertical-align: middle;
}

/*
.btn img {
    vertical-align: middle;
}
.btn:hover img {
    -webkit-filter: invert(1);
    filter: invert(1);
}
*/

@media screen and (max-width: 590px) {
    /* remove animations for buttons on mobile */
    .btn {
        width: 80%;
    }
    .btn:hover {
        width: 80%;
    }
}
