textarea {
    text-align: left;
    resize: vertical;
    max-height: 20%;
}
.form-label {
    margin: 0 0 0.1em 0;
    display: block;
    font-weight: bold;
}
.form-field {
    font-family: $font-stack;
    text-align: center;
    background-color: $color-bg-main;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em auto;
    width: 50%;
    display: block;
    border: none;
    color: $color-inactive;

    &:focus {
        color: $color-active; 
    }
}

.form-field::-webkit-input-placeholder { /* WebKit browsers */
    color: $color-placeholder;
}
.form-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color-placeholder;
}
.form-field::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color-placeholder;
}
.form-field:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $color-placeholder;
}
