/* Base layer */
$color-bg-main: #222;
$color-placeholder: #555;

/* Overlaid or covering elements */
$color-bg-overlay: #fff;
$transparent-white: rgba(255, 255, 255, 0.75);

/* Static UI elements */
$color-static: #0080ff;

/* Interactive UI elements */
/* Active state */
$color-active-text: #fff;
$color-active: #ffbd73;
/* Inactive state */
$color-inactive-text: #000;
$color-inactive: rgba(255, 128, 0, 0.75);
