/* Color wheel cheat sheet */
$red: 0;
$orange: 30;
$yellow: 60;
$chartreuse: 90;
$green: 120;
$springgreen: 150;
$cyan: 180;
$azure: 210;  // Note: web color name azure is not azure
$blue: 240;
$violet: 270;
$magenta: 300;
$rose: 330;

/* Simple base shades */
$color-bright: #eee;
$color-dark: #111;

/*
@function contrast-text-color($bg-color) {
  @if (lightness($bg-color) > 50) {
    @return #color-dark;
  } @else {
    @return $color-bright;
  }
}
*/

/* Base layer (non-overlay) */
$color-bg-main: #111;
$color-placeholder: #555;

/*
Overlaid or covering elements
E.g. popovers, modals, etc.
*/
$color-bg-overlay: #eee;
$color-text-overlay: #111;
$color-transparent-overlay: rgba(255, 255, 255, 0.75);

/* Interactive UI elements */
/* Active state */
$color-active: hsl($magenta, 50, 70);
// Outline around focused elements
$color-outline: hsl($azure, 80, 50);

/* Inactive state */
$color-inactive: hsl($magenta, 50, 30);

/* Status */
// Info
$color-accent-info: hsl($cyan, 50, 40);
$color-body-info: hsl($cyan, 50, 70);

// Success
$color-accent-success: hsl($green, 50, 40);
$color-body-success: hsl($green, 50, 70);

// Warning
// not currently used

// Error
$color-accent-error: hsl($red, 50, 40);
$color-body-error: hsl($red, 50, 70);

/*
$stateColors: (
    info: (body: $color-bg-info, accent: $color-accent-info),
    success: (),
    error:()
);
*/
