/* TODO use PostCSS instead of this mixin */
@mixin vendor-prefix($prop, $val) {
    #{$prop}: $val;
    -webkit-#{$prop}: $val;
    -moz-#{$prop}: $val;
    -o-#{$prop}: $val;
}

/* TODO animation, animation-delay */

%outline {
    outline-style: solid;
    outline-width: 0.3em;
    outline-color: $color-outline;
}
