/* Grid */
.main-col {
    overflow: hidden;
    padding-top: 3.5%;
    text-align: center;
    width: calc(100% * 2 / 3);
    margin-left: calc(100% / 6);
}

.col-60 {
    width: 60%;
}

.col-third {
    float: left;
    width: calc(100% / 3);
}

.col-20 {
    float: left;
    width: calc(100% / 5);
}
