/* Typography */
$font-stack: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$min-gutter: 0.5em;
$font-biggest: 2.618em;
$font-bigger: 1.618em;

/* Images */
$logo_shape: '../images/shield_logo_4.png';
$headshot: '../images/nutella_cropped.png';
